extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p #[strong Purpose:]
  ul
    li Use Express Web Framework to create a website.
    li Use MongoDB to create, save, delete, update data.
    li 
      a(href='https://boiling-forest-57743.herokuapp.com') Host the website on Heroku 
    li Use React
  p
  ul
    li This website will not focus on CSS.