extends layout

block content

  h1 Welcome to my #{title}
  
  p This will be used as a To Do website. 
    | The purpose of this is to create a web server using Express
    | and work with a NoSQL database.
    | Afterwards I can host it on Heroku! ( Heroku might take a minute. The dynos might have took a nap. )
  
  p Unfortunately Heroku needs add-ins to have MongoDB to work. Even though I can host this onto Heroku,
    | any functions that calls MongoDB wil time out.

  p #[strong Purpose:]
  ul
    li Use Express Web Framework to create a to do website.
    li Use MongoDB to create, save, delete, and update data.
    li 
      a(href='https://boiling-forest-57743.herokuapp.com') Host the website on Heroku 
    li Afterwards I'll try setting up a Node.js Express server for React!
