extends layout

block content
  h1=title

  form(method='POST' action='') <!-- action='' will post back to the same link -->
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text' placeholder='Name' name='name' required='true' value=(undefined===user ? '' : user.name))
      label(for='nickname') Nickname:
      input#nickname.form-control(type='text' placeholder ='Nickname' name='nickname' required='true' value=(undefined===user ? '' : user.nickname))
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg